@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<body>

    <div class="texto">
            <img src="~/image/design-realista-de-moldura-dourada_23-2149245883-removebg-preview.png" class="circulo" />

        <h1>Como Usar <span>Backgrounds</span> Animados</h1>
        <p>São mais de 100 templates prontos para usar como e onde quiser nos seus projetos</p>
        <button>Quero Agora</button>
    </div>

</body>